<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <title>
        <%=title%>
    </title>
</head>

<body class="container">
    <h6 class="text-danger mt-5">
        <%= error.message %>
    </h6>
    <p>
        <%= error.stack %>
    </p>
    <a href="http://localhost:3000/" class="btn btn-warning ">Back to home</a>
</body>

</html>